body {
    /**background: linear-gradient(to right, #fc5c7d, #6a82fb);*/
    background-color: rgb(213, 247, 247);
}

/**Contenedor de la imagen*/
.todo__body .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    row-gap: 5px;
}

.todo__body .empty img {
    width: 150px;
}

.todo__body .empty .title {
    color: #fff;
    margin: 0;
}

/** Quitamos todos los estilos x defecto*/
.todo__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/** Estilo de los items li*/
.todo__list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #494949;
    padding: 5px 10px;
    gap: 5px;
}

/** Quitando los ultimos estilos de los items*/
.todo__list li:last-child {
    border-bottom: none;
}

.todo__list li label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.todo__list li input[type="text"] {
    border: none;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    outline: none;
    text-align: center;
    text-transform:capitalize;
    
}

/** Quitar input de la lista*/
.todo__list li input[type="text"]:focus-visible {
    outline: none;
}

/** Lista De items*/
.todo__list li input[type="text"]:read-only {
    background: transparent;
    color: #fff;
    pointer-events: none;
}

/**Estilos de la checkbox*/
.todo__list li input[type="checkbox"] {
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;

    /* margin-top: 5px;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #d5f7f7;     */
}

.todo__list li input[type=checkbox]:checked {
    content: '';
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: red;
    font-size: 15px;
    color:white;    
}
















  









/** Estilos cuando este marcado*/
.todo__list li[data-status="completed"] input[type="text"] {
    text-decoration: line-through;
    color: #ff0000;
}

.todo__list li .actions {
    display: flex;
    column-gap: 5px;
}

.todo__list li .actions button {
    border: 2px solid rgb(184, 177, 177);
    background: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #d5f7f7;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.todo__list li .actions button:hover {
    color: #fff;
    background-color: #000;
}
