body {
    /**background: linear-gradient(to right, #fc5c7d, #6a82fb);*/
    background-color: #8BE5E7;
}

/**Contenedor de la imagen*/
.todo__body .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    row-gap: 5px;
}

.todo__body .empty img {
    width: 150px;
}

.todo__body .empty .title {
    color: #fff;
    margin: 0;
}

/** Quitamos todos los estilos x defecto*/
.todo__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/** Estilo de los items li*/
.todo__list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    gap: 5px;
}

/** Quitando los ultimos estilos de los items*/
.todo__list li:last-child {
    border-bottom: none;
}

.todo__list li label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.todo__list li input[type="text"] {
    border: none;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    outline: none;
    text-align: center;
    text-transform:capitalize;
    
}

/** Quitar input de la lista*/
.todo__list li input[type="text"]:focus-visible {
    outline: none;
}

/** Lista De items*/
.todo__list li input[type="text"]:read-only {
    background: transparent;
    color: #fff;
    pointer-events: none;
}

/**Estilos de la checkbox*/
.todo__list li[data-status="completed"] input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #d82121;
    opacity: 0.9;
    font-size: 15px;
    color:white;  
}


.todo__list li[data-status="pending"] input[type="checkbox"] {
    appearance: none;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
}



/** Estilos cuando este marcado*/
.todo__list li[data-status="completed"] input[type="text"] {
    text-decoration: line-through;
    color: #d82121;
    opacity: 0.9;
}

.todo__list li .actions {
    display: flex;
    column-gap: 5px;
}


.borrar-marcados {
    width: 150px;
    height: 40px;
    border: 1px solid red;
    background-color: white;
    border-radius: 30px;
}

.borrar-marcados:hover {
    width: 150px;
    height: 40px;
    background-color: #d82121;
    opacity: 0.9;
    color: white;
    font-weight: 700;
    border-radius: 30px;
}



.borrar-lista {
    width: 150px;
    height: 40px;
    background-color: white;
    color: #f9a8d4;
    border-radius: 30px;
}

.borrar-lista:hover {
    
    background-color: white;
    color: #e63e9a;
    border: 1px solid #e63e9a;
}















.todo__list li .actions button {
    background: none;
    cursor: pointer;
    font-size: 12px;
    background-color: white;
    color: #f9a8d4;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.todo__list li .actions button:hover {
    color: white;
    background-color: #e63e9a;
}

